@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  scroll-behavior: smooth;
}

header{
  height: 100vh;
  width: 100%;
}

header nav{
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 12;
}
.navbar{
  width: 90%;
  display: flex;
  margin: 20px auto 0 auto;
  align-items: center;
  justify-content: space-between;
}
  header nav .logo{
  height: 100px;
  width: 200px;
}
.logo img{
  height: 100%;
  width: 100%;

}

.text-content{
  position: absolute;
  top: 33%;
  left: 7%;
  z-index: 12;
}

header .text-content .name{
color: #dd4a3f;
 font-size: 65px;
 font-weight: 600;
 margin: -20px 0 0 -3px;
}

nav .menu{
  display: flex;
}
nav .menu li{
  list-style: none;
  margin: 0 10px;
}
nav .menu a{
  color: #3f2504;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
}
nav .menu a:hover{
  color: #91880a;
}
nav .search-box{
  position: relative;
  height: 40px;
  width: 250px;
}

header .text-content .job{
 color: #472406;
 font-size: 20px;
 margin: 5px 0;
 margin-top: -4px;
 display: flex;
 font-weight: 500;
}

button {
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 12px 27px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #dd4a3f;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #dd4a3f;
  border-radius: 50px;
  box-shadow: inset 0 0 0 0 #dd4a3f;
}

button:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #dd4a3f;
}

button:active {
  transform: scale(0.9);
}

.content .girl img{
  position: absolute;
  height: 80%;
  bottom: 30px;
  right: 80px;
  position: absolute;
}

 .about-us{
  height: 90vh;
  width: 100%;
  padding: 90px 0;
}
.pic{
  height: auto;
  width:  402px;
}
.about{
  width: 1130px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.ttext{
  width: 640px;
}
.ttext h2{
  font-size: 80px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #5e3a19;
}
.ttext h5{
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #3f2504;
}
.var{
  color: #d6311b;
}
.ttext p{
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #3f2504;
}
.data{
  margin-top: 3px;
}

/**.boxx{
  left: 12%;
  position: absolute;
  height: 370px;
  width: 100%;
  max-width: 950px;
  margin: auto;
  border-radius: 25px;
  box-shadow: 0px 10px 50px rgba(252,56,56,.3);
}**/

.blog-card{
  position: absolute;
  height: 370px;
  width: 95%;
  max-width: 850px;
  margin: auto;
  border-radius: 25px;
  background: rgb(255, 252, 249);
  box-shadow: 0px 10px 50px rgba(65, 39, 1, 0.39);
}
.inner-part{
  position: absolute;
  display: flex;
  height: 360px;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
}
#imgTap:checked ~ .inner-part {
  padding: 0;
  transition: .1s ease-in;
}
.inner-part .img{
  height: 260px;
  width: 260px;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 2px 3px 15px rgba(252,56,56,.1);
}
#imgTap:checked ~ .inner-part .img{
  height: 370px;
  width: 850px;
  z-index: 99;
  margin-top: 10px;
  transition: .3s .2s ease-in;
}
.img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  opacity: 0;
  transition: .6s;
}
#tap-1:checked ~ .inner-part .img-1,
#tap-2:checked ~ .inner-part .img-2,
#tap-3:checked ~ .inner-part .img-3{
  opacity: 1;
  transition-delay: .2s;
}
.coontent{
  padding: 0 20px 0 35px;
  width: 530px;
  margin-left: 50px;
  opacity: 0;
  transition: .6s;
}
#imgTap:checked ~ .inner-part .co0ntent{
  display: none;
}
#tap-1:checked ~ .inner-part .content-1,
#tap-2:checked ~ .inner-part .content-2,
#tap-3:checked ~ .inner-part .content-3{
  opacity: 1;
  margin-left: 0px;
  z-index: 100;
  transition-delay: .3s;
}
.coontent span{
  display: block;
  color: #d83b0c;
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 500
}
.coontent .tiitle{
  font-size: 25px;
  font-weight: 700;
  color: #301103;
  margin-bottom: 20px;
}
.coontent .teext{
  color: #290e02;
  font-size: 19px;
  margin-bottom: 30px;
  line-height: 1.5em;
  text-align: justify;
}

.sliders{
  position: absolute;
  bottom: 25px;
  left: 65%;
  transform: translateX(-50%);
  z-index: 12;
}
#imgTap:checked ~ .sliders{
  display: none;
}
.sliders .tap{
  position: relative;
  height: 10px;
  width: 50px;
  background: #d9d9d9;
  border-radius: 5px;
  display: inline-flex;
  margin: 0 3px;
  cursor: pointer;
}
.sliders .tap:hover{
  background: #cccccc;
}
.sliders .tap:before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: -100%;
  background: linear-gradient(147deg,#f6b323 0%, #f23b26 74%);
  border-radius: 10px;
  transform: scaleX(0);
  transition: transform .6s;
  transform-origin: left;
}
input[type="radio"],
input[type="checkbox"]{
  display: none;
}
#tap-1:checked ~ .sliders .tap-1:before,
#tap-2:checked ~ .sliders .tap-2:before,
#tap-3:checked ~ .sliders .tap-3:before{
  transform: scaleX(1);
  width: 100%;
}

.auxilio{
  padding-top: 10%; 
}

.ccontainer{
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 8%;
  margin-top: 20%;
  margin-bottom: 20%;
  padding-top: 10%;
  box-shadow: 2px 3px 15px rgba(252,56,56,.1);
}
.ccontainer .bbox{
  width: calc(33% - 10px);
  background: #fffbf5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  border-radius: 20px;
  box-shadow: 2px 3px 15px rgba(66, 55, 55, 0.425);
}

.ccontainer .bbox .image{
  margin: 10px 0;
  height: 150px;
  width: 150px;
  background: linear-gradient(147deg,#f6b323 0%, #f04e31 74%);
  padding: 3px;
  border-radius: 50%;
}
.bbox .image img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fffafa;
}
.bbox .bno{
  margin-left: -8px;
  text-align: center;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
  color: #3f2504;
  line-height: 1.5em;
}
.bbox .name_job{
  margin: 10px 0 3px 0;
  font-size: 18px;
  font-weight: 700;
  color: #a53704;
}

.csslider {
  -moz-perspective: 1300px;
  -ms-perspective: 1300px;
  -webkit-perspective: 1300px;
  perspective: 1300px;
  display: inline-block;
  text-align: left;
  position: relative;
  margin-bottom: 22px;
}
.csslider > input {
  display: none;
}
.csslider > input:nth-of-type(10):checked ~ ul li:first-of-type {
  margin-left: -900%;
}
.csslider > input:nth-of-type(9):checked ~ ul li:first-of-type {
  margin-left: -800%;
}
.csslider > input:nth-of-type(8):checked ~ ul li:first-of-type {
  margin-left: -700%;
}
.csslider > input:nth-of-type(7):checked ~ ul li:first-of-type {
  margin-left: -600%;
}
.csslider > input:nth-of-type(6):checked ~ ul li:first-of-type {
  margin-left: -500%;
}
.csslider > input:nth-of-type(5):checked ~ ul li:first-of-type {
  margin-left: -400%;
}
.csslider > input:nth-of-type(4):checked ~ ul li:first-of-type {
  margin-left: -300%;
}
.csslider > input:nth-of-type(3):checked ~ ul li:first-of-type {
  margin-left: -200%;
}
.csslider > input:nth-of-type(2):checked ~ ul li:first-of-type {
  margin-left: -100%;
}
.csslider > input:nth-of-type(1):checked ~ ul li:first-of-type {
  margin-left: 0%;
}
.csslider > ul {
  position: relative;
  width: 820px;
  height: 420px;
  z-index: 1;
  font-size: 0;
  line-height: 0;
  border: 10px solid #ffffff;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  border-radius: 40px;
  white-space: nowrap;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.csslider > ul > li {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 15px;
  font-size: initial;
  line-height: normal;
  -moz-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
  transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
  vertical-align: top;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: normal;
}
.csslider > .navigation {
  position: absolute;
  bottom: -8px;
  left: 50%;
  z-index: 10;
  margin-bottom: -10px;
  font-size: 0;
  line-height: 0;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.csslider > .navigation > div {
    margin-left: -100%;
}
.csslider > .navigation label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  margin: 0 4px;
  padding: 4px;
  background: #3A3A3A;
}
.csslider > .navigation label:hover:after {
  opacity: 1;
}
.csslider > .navigation label:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -6px;
  margin-top: -6px;
  background: #ff0000;
  border-radius: 50%;
  padding: 6px;
  opacity: 0;
}
.csslider > .arrows {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.csslider.inside .navigation {
  bottom: 10px;
  margin-bottom: 10px;
}
.csslider > input:nth-of-type(1):checked ~ .navigation label:nth-of-type(1):after,
.csslider > input:nth-of-type(2):checked ~ .navigation label:nth-of-type(2):after,
.csslider > input:nth-of-type(3):checked ~ .navigation label:nth-of-type(3):after,
.csslider > input:nth-of-type(4):checked ~ .navigation label:nth-of-type(4):after {
  opacity: 1;
}
.csslider > .arrows {
  position: absolute;
  left: -31px;
  top: 50%;
  width: 100%;
  height: 26px;
  padding: 0 31px;
  z-index: 0;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.csslider > .arrows label {
  display: none;
  position: absolute;
  top: -50%;
  padding: 13px;
  box-shadow: inset 2px -2px 0 1px #3A3A3A;
  cursor: pointer;
  -moz-transition: box-shadow 0.15s, margin 0.15s;
  -o-transition: box-shadow 0.15s, margin 0.15s;
  -webkit-transition: box-shadow 0.15s, margin 0.15s;
  transition: box-shadow 0.15s, margin 0.15s;
}
.csslider > .arrows label:hover {
  box-shadow: inset 3px -3px 0 2px #ff0000;
  margin: 0 0px;
}
.csslider > .arrows label:before {
  content: '';
  position: absolute;
  top: -100%;
  left: -100%;
  height: 300%;
  width: 300%;
}
.csslider.infinity > input:first-of-type:checked ~ .arrows label.goto-last,
.csslider > input:nth-of-type(1):checked ~ .arrows > label:nth-of-type(0),
.csslider > input:nth-of-type(2):checked ~ .arrows > label:nth-of-type(1),
.csslider > input:nth-of-type(3):checked ~ .arrows > label:nth-of-type(2),
.csslider > input:nth-of-type(4):checked ~ .arrows > label:nth-of-type(3),
.csslider > input:nth-of-type(5):checked ~ .arrows > label:nth-of-type(4) {
  display: block;
  left: 0;
  right: auto;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.csslider.infinity > input:last-of-type:checked ~ .arrows label.goto-first,
.csslider > input:nth-of-type(1):checked ~ .arrows > label:nth-of-type(2),
.csslider > input:nth-of-type(2):checked ~ .arrows > label:nth-of-type(3),
.csslider > input:nth-of-type(3):checked ~ .arrows > label:nth-of-type(4) {
  display: block;
  right: 0;
  left: auto;
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}

.ul {
  padding-left: 40px;
}

  #slider1 {
  margin: 20px;
  font-family: 'Lato';
}
#slider1 > input:nth-of-type(3):checked ~ ul #bg {
  width: 80%;
  padding: 22px;
  -moz-transition: .5s .5s;
  -o-transition: .5s .5s;
  -webkit-transition: .5s .5s;
  transition: .5s .5s;
}
#slider1 > input:nth-of-type(3):checked ~ ul #bg div {
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
  -webkit-transform: translate(0);
  transform: translate(0);
  -moz-transition: .5s .9s;
  -o-transition: .5s .9s;
  -webkit-transition: .5s .9s;
  transition: .5s .9s;
}
video { 
  width:710px; 
  height:400px;  
  background:transparent url('') no-repeat 0 0; 
  -webkit-background-size:cover; 
  -moz-background-size:cover; 
  -o-background-size:cover; 
  background-size:cover; 
}

.demo{
  margin-top: -20%;
  padding-top: 10%;
  padding-bottom: 20%;
  height: 100%; overflow-x: hidden; 
   text-align: center
}

ul { list-style: none; }
a { text-decoration: unset; }
a:hover { text-decoration: underline; }
ul > li > a { color:#4d2006; }
ul > li { line-height: 1.5em; }
.footer {
    display: block;
    width: 100%;
    position: relative;
    background: #7ac237;
    padding: 150px 25px 50px 25px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.footer-start {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    width: 90%;
    margin: auto;
    padding: 80px 100px;
    background: #e4af4d;
    border-radius: 15px;
}
.start-learning {
    position: absolute;
    left: 0;
    right: 0;
    top: -150px;
}
.footer .inner {
    display: flex;
    align-items: self-start;
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 20px;
    max-width: 1180px;
    margin: auto;
    text-align: left;
}
.main-logo {
    position: relative;
    display: flex;
    align-items: center;
}
.main-logo .logo {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.main-logo .logo > img {
    display: block;
    width: 100%;
    min-width: 40px;
}
.logo-info {
    text-align: left;
    line-height: 20px;
}
.text {
    font-size: 17px;
    line-height: 17px;
    color: #4d2006;
    font-weight: 600;
}
.copyright {
    color: #4d2006;
    font-size: 15px;
    line-height: 12px;
}
.footer .column {
    width: 100%;
    font-size: 14px;
    text-align: left;
}
.footer .column .column-title {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 0.5em;
    color: #792c09;
}
.footer .column .column-title:not(:first-child) {
    margin-top: 1em;
}

.section-title {
    font-size: 37px;
    font-weight: 700;
    color: #e21212;
}
.section-sub-heading {
    font-size: 22px;
    font-weight: 400;
    color: #e46939;
}
.section-sub-heading span {
    opacity: 0.6;
}
.section-sub-heading strong {
    font-weight: 500;
}

/** estilos para celular**/
@media  screen and (max-width: 768px){

  body{
    max-width: 768px;
  }

  .navbar{
    visibility: hidden;
  }

  .text-content{
    width: 100%;
    top: 13%;
  }

  header .text-content .name{
     visibility: hidden;
    }

    header .text-content .job{
      max-width: 90%;
    }

    button {
      margin: 10px;
      padding: 8px 13px;
      font-size: 13px;
    }

    .bg{
      max-width: 768px;
    }

    .content .girl img{
      max-height: 65%;
      right: 30px;
      padding-top: 8%;
    }

    .about-us{
      width: 100%;
      padding: 10px 0;
      margin-bottom: 30%;
    }
    .pic{
      height: auto;
      width: 350px;
      padding-top: 235%;
      position: absolute;
    }
    .about{
      width: 790px;
      max-width: 80%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    .ttext h2{
      font-size: 43px;
      font-weight: 600;
      margin-bottom: 10px;
      color: #5e3a19;
    
    }
    .ttext h5{
      font-size: 15px;
      font-weight: 500;
      margin-bottom: 20px;
      color: #3f2504;
    }
      body {
  
          overflow-y: scroll;
          overflow-x: hidden;
      }
      .footer .inner {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      }
      .start-learning {
          position: unset;
      }
      .footer-start {
          width: 100%;
          display: block;
          padding: 30px 20px;
          margin: 30px 0;
      }
      .section-title {
          font-size: 30px;
      }
      .section-sub-heading {
          font-size: 18px;
      }
      footer.footer {
          padding-top: 0;
      }
      a.button {
          height: 50px;
          margin-top: 10px;
      }
      .column.is-logo {
          order: 4;
      }

    .demo{
      size: 10%;
    }

    .ccontainer .bbox{
      width: 93%;
      margin-top: 30px;
      grid-template-columns: repeat(3, 1fr);
    }

  }
